@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --cor1: #b2e6d4;
    --cor2: #247ba0;
    --cor3: #0b132b;
    --cor4: #f30b47;

    --fonte-padrao: 'Ubuntu', Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao)
}

body {
    background-color: var(--cor4);
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

header {
    background-color: var(--cor3);
    text-align: center;
    padding: 20px;
}

header h1, header p {
    color: var(--cor4);
}

main{
    width: 720px;
    background-color: var(--cor1);
    min-height: 300px;
    padding: 10px;
    align-content: center;
    text-align: center;
}
main div {
    background-color: white;
    max-height: 150px;
    width: 50%;
    border-radius: 10px;
    scroll-margin: 0px;
    font-size: 2em;
    padding: 5px, 0px;
    margin: 20px;
    text-align: center;
}

main input {
    border-radius: 10px;
    font-size: 2em;
    
}

footer{
    background-color: var(--cor3);
    color: var(--cor4);
    text-align: center;
}