@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --cor1: #b2e6d4;
    --cor2: #247ba0;
    --cor3: #0b132b;
    --cor4: #f30b47;

    --fonte-padrao: 'Ubuntu', Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao)
}

body {
    background-color: var(--cor4);
}

header {
    background-color: var(--cor3);
    text-align: center;
    padding: 20px;
}

header h1 {
    color: var(--cor4);
}

main{
    width: 720px;
    background-color: var(--cor1);
    min-height: 300px;
    padding: 10px;
    margin: auto;
}

main div {
    background-color: white;
    max-height: 80px;
    width: 80%;
    border-radius: 10px;
    font-size: 2em;
    padding: 10px;
    margin: auto;
    display: block;
    text-align: justify;
    letter-spacing: 0.03em;
    overflow-y: hidden;
    font-family: Courier;
    margin-top: 10px;
}

main div span {
    padding: 5px;
    margin-top: 10px;
    
}

main div span.ativo {
    background: var(--cor1);
    border-radius: 5px;
}

main div span.correto {
    color: green;
}

main div span.incorreto {
    color: red;
    background: rgb(247, 200, 200);
    border-radius: 4px;
}

main input {
    display: block;
    border-radius: 10px;
    font-size: 1.5em;
    margin: auto;
    margin-top: 15px;
    padding: 3px;
}

.leitura {
    
}

footer{
    background-color: var(--cor3);
    color: var(--cor4);
    text-align: center;
}